body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.quiz-container {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  color: #f4f4f4;
  padding: 10px;
  background: #2c3e50;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.question {
  margin-bottom: 20px;
}
.options {
  list-style-type: none;
  padding: 0;
}
.option {
  margin-bottom: 10px;
  display: flex;
}
.option label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.option input[type="radio"] {
  margin-right: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
#next-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
#submit-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}
button:hover,
#next-btn:hover,
#submit-btn:hover {
  background-color: black;
}
button:disabled,
#next-btn:disabled,
#submit-btn:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
#result {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
